<!-- Contact -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="contact-map">
          <iframe
            class="gmap-link"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4301.257784585609!2d-73.98724631649252!3d40.74839251065117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9b3117469%3A0xd134e199a405a163!2sEmpire%20State%20Building!5e0!3m2!1sen!2sin!4v1606409544855!5m2!1sen!2sin"
            width="600"
            height="450"
            frameborder="0"
            style="border: 0"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0"
          ></iframe>
        </div>
        <!-- <div id="googleMap" style="width: 100%; height: 400px"></div> -->
      </div>
      <div class="col-6">
        <div class="contact-heading">
          <h2>Contact us</h2>
          <p>
            Contact if you have any questions and we will contact you. We
            appreciate user feedback and be sure to take into account your
            wishes.
          </p>
        </div>
        <div class="contact-div">
          <form>
            <!-- <label for="email">Email</label> -->
            <input
              class="email shadow-lg bg-white rounded"
              type="email"
              id="email"
              name="email"
              placeholder="Email Address"
            />
            <!-- <label for="lname">Last Name</label> -->
            <input
              class="name shadow-lg bg-white rounded"
              type="text"
              id="name"
              name="name"
              placeholder="Name"
            />
            <input
              class="phone shadow-lg bg-white rounded"
              type="text"
              id="phone"
              name="phone"
              placeholder="Phone"
            />
            <!-- <textarea
                  class="textarea shadow-lg bg-white rounded"
                  rows="4"
                  cols="50"
                  name="comment"
                  form="usrform"
                  placeholder="Message"
                >
                </textarea> -->
            <textarea
              class="textarea shadow-lg bg-white rounded"
              rows="4"
              cols="50"
              placeholder="Describe yourself here..."
            ></textarea>
            <button class="btn btn-primary">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
