<!-- Whatsnew -->
<section id="whatsnew">
  <div class="container">
    <div class="row whatsnew-heading">
      <div class="col-6 mt-3">
        <h2 class="whatsnew-text">What's new?</h2>

        <div class="card shadow-lg bg-white rounded">
          <div class="card-horizontal">
            <div class="img-square-wrapper">
              <img
                class=""
                src="../../../assets/img/02 (1).jpg"
                alt="Card image cap"
              />
            </div>
            <div class="card-body">
              <h4 class="card-title">Reporting</h4>
              <p class="card-text">
                Highly flexible reports to analyze time the way you want.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6">
        <p class="whatsnew-para">
          Accurate employee time tracking software for reporting, invoicing and
          painless payroll. Trusted by over 2,000 business in more than 70
          countries.
        </p>
        <div class="card shadow-lg bg-white rounded">
          <div class="card-horizontal">
            <div class="img-square-wrapper">
              <img
                class=""
                src="../../../assets/img/Webp.net-resizeimage.jpg"
                alt="Card image cap"
              />
            </div>
            <div class="card-body">
              <h4 class="card-title">Invoicing</h4>
              <p class="card-text">
                Create invoices from time entries and send them to your clients.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
