<!-- about -->
<section id="about">
  <div class="container">
    <div class="about-heading">
      <h1>Learn more about our application</h1>
      <p>Track time without wasting a second</p>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="card-deck">
          <div class="card shadow-sm bg-white rounded">
            <div class="flip-card shadow-lg p-3 mb-5 bg-white rounded">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <div class="card-body">
                    <i class="fas fa-chalkboard"></i>
                    <h5 class="card-title">
                      <span>Time Tracking</span>
                    </h5>
                    <p class="card-text">
                      Accurate and simple time tracking. Task-based estimation.
                    </p>
                  </div>
                </div>
                <div class="flip-card-back">
                  <i class="fas fa-chalkboard"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="flip-card shadow-lg p-3 mb-5 bg-white rounded">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <div class="card-body">
                    <i class="far fa-share-square"></i>
                    <h5 class="card-title">
                      <span style="padding-left: 30px">Resource Planning</span>
                    </h5>
                    <p class="card-text">
                      Monitor team's utilization across different projects.
                    </p>
                  </div>
                </div>
                <div class="flip-card-back">
                  <i class="far fa-share-square"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="flip-card shadow-lg p-3 mb-5 bg-white rounded">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <div class="card-body">
                    <i class="far fa-hdd"></i>
                    <h5 class="card-title">
                      <span style="margin-right: 20px">Integrations</span>
                    </h5>
                    <p class="card-text" style="margin-left: 10px">
                      Track time inside the most popular project management
                      tool.
                    </p>
                  </div>
                </div>
                <div class="flip-card-back">
                  <i class="far fa-hdd"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="card-deck">
          <div class="card">
            <div class="flip-card shadow-lg p-3 mb-5 bg-white rounded">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <div class="card-body">
                    <i class="fas fa-tasks"></i>
                    <h5 class="card-title">
                      <span style="margin-left: 10px">Task Management</span>
                    </h5>
                    <p class="card-text">
                      Craete tasks, track time and update progress in one place.
                    </p>
                  </div>
                </div>
                <div class="flip-card-back">
                  <i class="fas fa-tasks"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="flip-card shadow-lg p-3 mb-5 bg-white rounded">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <div class="card-body">
                    <i class="fas fa-clock"></i>
                    <h5 class="card-title">
                      <span style="margin-right: 40px">Reporting</span>
                    </h5>
                    <p class="card-text" style="margin-left: 10px">
                      Highly flexible reports to analyze time the way you want.
                    </p>
                  </div>
                </div>
                <div class="flip-card-back">
                  <i class="fas fa-clock"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="flip-card shadow-lg p-3 mb-5 bg-white rounded">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <div class="card-body">
                    <i class="fas fa-file-alt"></i>
                    <h5 class="card-title">
                      <span style="margin-right: 40px">Invoicing</span>
                    </h5>
                    <p class="card-text" style="margin-left: 10px">
                      Create invoices from time entries and send them to your
                      clients.
                    </p>
                  </div>
                </div>
                <div class="flip-card-back">
                  <i class="fas fa-file-alt"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
