<!-- team -->
<section id="team">
  <div class="container">
    <div class="team-heading">
      <h1>Our team is constantly trying for you</h1>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="card-group">
          <div class="card shadow-lg bg-white rounded">
            <img
              class="card-img-top"
              src="../../../assets/img/face1.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Jason Doe</h5>
              <p class="card-text">Programmer</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card-group">
          <div class="card shadow-lg bg-white rounded">
            <img
              class="card-img-top"
              src="../../../assets/img/face2.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Amanda Swon</h5>
              <p class="card-text">Designer</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card-group">
          <div class="card shadow-lg bg-white rounded">
            <img
              class="card-img-top"
              src="../../../assets/img/face3.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Andrew Smith</h5>
              <p class="card-text">Support</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card-group">
          <div class="card shadow-lg bg-white rounded">
            <img
              class="card-img-top"
              src="../../../assets/img/face4.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Jane Olsen</h5>
              <p class="card-text">Manager</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
