<!-- home -->
<section id="home" class="d-flex flex-column justify-content-center">
  <div class="container">
    <div class="home-heading">
      <h6>Created to save your time</h6>
      <h3>Time Planner App</h3>
    </div>
    <div class="row home-download-button">
      <div class="col-lg-6 col-sm-12 play-store-button-row">
        <button
          class="button button-playstore"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Goto Play Store"
        >
          <i class="fab fa-google-play"></i> <span>Google Play </span>
        </button>
      </div>
      <div class="col-lg-6 col-md-12 app-store-button-row">
        <button
          class="button button-appstore"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Goto Apple Store"
        >
          <i class="fab fa-app-store-ios"></i><span>App Store</span>
        </button>
      </div>
    </div>
  </div>
</section>
