<!-- subscribe -->
<section id="subscribe">
  <div class="container">
    <div class="subscribe-heading">
      <h1>Start using our app today</h1>
      <p>Set a tools to seamlessly manage projects during entire life cycle</p>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card subscribe-main shadow-lg bg-white rounded">
          <div class="card-body card-body-price">
            <h5 class="card-title">Free version</h5>
            <h1 class="big">$0<small class="small">/ month</small></h1>
            <h3>Who is this for?</h3>
            <p class="card-text">Free version for students and regular user</p>
          </div>
          <div class="subscribe-seperator"></div>
          <ul style="border: none" class="list-group list-group-flush">
            <!-- <i class="fas fa-check"></i> -->
            <!-- <i class="fas fa-times"></i> -->
            <li class="list-group-item">
              <i class="fas fa-check"></i>
              <span class="first-item">Time Tracking</span>
            </li>
            <li style="border: none" class="list-group-item">
              <i class="fas fa-check"></i>
              <span class="second-item">Resource Planning</span>
            </li>
            <li style="border: none" class="list-group-item">
              <i class="fas fa-times"></i>

              <span class="third-item">Integrations</span>
            </li>
            <li style="border: none" class="list-group-item">
              <i class="fas fa-times"></i>

              <span class="fourth-item">Task Management</span>
            </li>
            <li style="border: none" class="list-group-item">
              <i class="fas fa-times"></i>

              <span class="fifth-item">Reporting</span>
            </li>
            <li style="border: none" class="list-group-item">
              <i class="fas fa-times"></i>

              <span class="sixth-item">Invoicing</span>
            </li>
          </ul>
          <div class="card-body">
            <button class="button" value="submit">Get Free Now</button>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card subscribe-main shadow-lg bg-white rounded">
          <div class="card-body card-body-price">
            <h5 class="card-title">User</h5>
            <h1 class="big">$10<small class="small">/ month</small></h1>
            <h3>Who is this for?</h3>
            <p class="card-text">
              The version for business people having a tight schedule
            </p>
          </div>
          <div class="subscribe-seperator"></div>
          <ul style="border: none" class="list-group list-group-flush">
            <!-- <i class="fas fa-check"></i> -->
            <!-- <i class="fas fa-times"></i> -->
            <li class="list-group-item">
              <i class="fas fa-check"></i>
              <span class="first-item">Time Tracking</span>
            </li>
            <li style="border: none" class="list-group-item">
              <i class="fas fa-check"></i>
              <span class="second-item">Resource Planning</span>
            </li>
            <li style="border: none" class="list-group-item">
              <i class="fas fa-check"></i>

              <span class="third-item">Integrations</span>
            </li>
            <li style="border: none" class="list-group-item">
              <i class="fas fa-check"></i>

              <span class="fourth-item">Task Management</span>
            </li>
            <li style="border: none" class="list-group-item">
              <i class="fas fa-times"></i>

              <span class="fifth-item">Reporting</span>
            </li>
            <li style="border: none" class="list-group-item">
              <i class="fas fa-times"></i>

              <span class="sixth-item">Invoicing</span>
            </li>
          </ul>
          <div class="card-body">
            <button class="button" value="submit">Get Access Now</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card subscribe-main shadow-lg bg-white rounded">
          <div class="card-body card-body-price">
            <h5 class="card-title">Pro</h5>
            <h1 class="big">$15<small class="small">/ month</small></h1>
            <h3>Who is this for?</h3>
            <p class="card-text">Maximum version for large companies</p>
          </div>
          <div class="subscribe-seperator"></div>
          <ul style="border: none" class="list-group list-group-flush">
            <!-- <i class="fas fa-check"></i> -->
            <!-- <i class="fas fa-times"></i> -->
            <li class="list-group-item">
              <i class="fas fa-check"></i>
              <span class="first-item">Time Tracking</span>
            </li>
            <li style="border: none" class="list-group-item">
              <i class="fas fa-check"></i>
              <span class="second-item">Resource Planning</span>
            </li>
            <li style="border: none" class="list-group-item">
              <i class="fas fa-check"></i>

              <span class="third-item">Integrations</span>
            </li>
            <li style="border: none" class="list-group-item">
              <i class="fas fa-check"></i>

              <span class="fourth-item">Task Management</span>
            </li>
            <li style="border: none" class="list-group-item">
              <i class="fas fa-check"></i>

              <span class="fifth-item">Reporting</span>
            </li>
            <li style="border: none" class="list-group-item">
              <i class="fas fa-check"></i>

              <span class="sixth-item">Invoicing</span>
            </li>
          </ul>
          <div class="card-body">
            <button class="button" value="submit">Get Free Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
