<!-- Newsletter -->
<section id="newsletter">
  <div class="container">
    <div class="newsletter-heading">
      <p>Keep up to date with latest updates</p>
      <h2>Subscribe to our news letter</h2>
    </div>
    <div class="row">
      <form>
        <!-- <div style="border: 1px solid red" class="form-group mx-sm-3 mb-2"> -->
        <label for="inputEmail" class="sr-only">Email</label>
        <input
          type="email"
          class="form-control"
          id="inputEmail"
          placeholder="E-mail Address"
        />
        <!-- </div> -->
        <button
          style="position: absolute"
          type="submit"
          class="btn btn-primary mb-2"
        >
          Subscribe
        </button>
      </form>
    </div>
  </div>
</section>
