<!-- watch video -->
<section id="watch-video-head" style="border: 1px solid #e9e9e9">
  <div class="container watch-video-title">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <div class="video-link">
          <iframe
            class="videoFixed"
            width="470"
            height="290"
            src="https://www.youtube.com/embed/IJKjMIU55pE"
            frameborder="0"
          ></iframe>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12 watch-video-text">
        <h2>Watch a video on how to use our app</h2>
        <p>
          Its' not just about employees hours. It's about understanding employee
          availability. it's about hitting project deadlines -- While staying on
          budget. It's knowing you'll never have to update another excel
          spreadsheet. It's about making things easy. It's giving your team the
          tools they need to do their job well. And insights to worl more
          effectively then ever before.
        </p>
      </div>
    </div>
  </div>
</section>
