<!-- Feedback -->
<section id="feedback">
  <div class="container">
    <div class="feedback-heading">
      <p>Feedback from our users</p>
      <h2>What do users say about our application</h2>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="box arrow-bottom shadow-lg bg-white rounded">
          <i class="start-quote fas fa-quote-left"></i>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum is simply dummy text of the printing.
          </p>
        </div>
        <!-- <div class="img-div"> -->
        <img
          class="round-image"
          src="../../../assets/img/face1.jpg"
          alt="Avatar"
        />
        <!-- </div> -->
        <h6 class="roundimage-name">Jason deo</h6>
        <p class="roundimage-desig">User</p>
      </div>

      <div class="col-4">
        <div class="box arrow-bottom shadow-lg bg-white rounded">
          <i class="start-quote fas fa-quote-left"></i>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum is simply dummy text of the printing.
          </p>
        </div>
        <!-- <div class="img-div"> -->
        <img
          class="round-image"
          src="../../../assets/img/face2.jpg"
          alt="Avatar"
        />
        <!-- </div> -->
        <h6 class="roundimage-name">Amanda Swon</h6>
        <p class="roundimage-desig">User</p>
      </div>
      <div class="col-4">
        <div class="box arrow-bottom shadow-lg bg-white rounded">
          <i class="start-quote fas fa-quote-left"></i>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum is simply dummy text of the printing.
          </p>
        </div>
        <!-- <div class="img-div"> -->
        <img
          class="round-image"
          src="../../../assets/img/face4.jpg"
          alt="Avatar"
        />
        <!-- </div> -->
        <h6 class="roundimage-name">Jane Olsen</h6>
        <p class="roundimage-desig">User</p>
      </div>
    </div>
  </div>
</section>
